<app-documentation-content>
  <app-example-viewer
      title="Using entry-auto-disable directive"
      component="common\directives\auto-disable-button-example\auto-disable-button-example.component">
      <app-auto-disable-button-example></app-auto-disable-button-example>
  </app-example-viewer>

  <app-example-viewer
      title="Extending Angular events binding syntax with debounce and throttle event modifiers"
      component="common\event-plugin-example\event-plugin-example.component">
      <app-event-plugin-example></app-event-plugin-example>
  </app-example-viewer>
</app-documentation-content>