<form [formGroup]="form" (ngSubmit)="submitForm()">
    <div>
        <mat-form-field class="example-form-field">
            <mat-label>First name</mat-label>
            <input matInput type="text" formControlName="firstName">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-form-field">
            <mat-label>Last name</mat-label>
            <input matInput type="text" formControlName="lastName">
        </mat-form-field>
    </div>
    <div>
        <entry-form-errors [form]="form"></entry-form-errors>
    </div>
    <button mat-flat-button color="accent" type="submit">Submit</button>
</form>

<pre>{{validationResult | json}}</pre>