<entry-spinner *ngIf="loading" [fullscreen]="fullscreen" [color]="color" [hasBackdrop]="hasBackdrop"></entry-spinner>

<section>
  <p>
    <label>Color: </label>
    <mat-radio-group aria-label="Color" name="color" [(ngModel)]="color">
      <mat-radio-button value="primary">Primary (default)</mat-radio-button>
      <mat-radio-button value="accent">Accent</mat-radio-button>
      <mat-radio-button value="warn">Warn</mat-radio-button>
    </mat-radio-group>
  </p>
  <p>
    <label>Fullscreen: </label>
    <mat-radio-group aria-label="Append to" name="fullscreen" [(ngModel)]="fullscreen">
      <mat-radio-button [value]="true">True (default)</mat-radio-button>
      <mat-radio-button [value]="false">False</mat-radio-button>
    </mat-radio-group>
  </p>
  <p>
    <label>Backdrop: </label>
    <mat-radio-group aria-label="Backdrop" name="backdrop" [(ngModel)]="hasBackdrop">
      <mat-radio-button [value]="true">True (default)</mat-radio-button>
      <mat-radio-button [value]="false">False</mat-radio-button>
    </mat-radio-group>
  </p>
  <p>
    <button mat-button entry-submit-button (click)="showSpinner()">Show spinner</button>
  </p>
</section>
