<section class="dialog-example stack-vertical">
    <mat-checkbox [(ngModel)]="confirmData.hideClose">
        Hide close button
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="confirmData.disableClose" class="item">
        Disable closing on Esc or backdrop click
    </mat-checkbox>
    <mat-form-field class="item">
        <mat-label>Buttons horizontal alignment</mat-label>
        <mat-select [(ngModel)]="confirmData.buttonsAlignment">
            <mat-option *ngFor="let alignment of alignments" [value]="alignment">
                {{alignment}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button entry-submit-button (click)="openConfirm()" class="item">
        <span>Open Confirm Dialog</span>
    </button>
    <p>
        Selected response: <strong>{{confirmResponse}}</strong>
    </p>
</section>