<p>
    <mat-checkbox [(ngModel)]="confirmData.hideClose">
        Hide close button
    </mat-checkbox>
</p>
<p>
    <mat-checkbox [(ngModel)]="confirmData.disableClose">
        Disable closing on Esc or backdrop click
    </mat-checkbox>
</p>
<p>
    <mat-form-field>
        <mat-label>Buttons horizontal alignment</mat-label>
        <mat-select  [(ngModel)]="confirmData.buttonsAlignment">
            <mat-option *ngFor="let alignment of alignments" [value]="alignment">
                {{alignment}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</p>
<button
    mat-raised-button
    color="accent"
    (click)="openConfirm()">
    Open Confirm Dialog
</button>
<p>
    Selected response: {{confirmResponse}}
</p>