trigger:
- master

pool:
  vmImage: ubuntu-latest

  # This determines the build number
name: $(MajorMinorVersion)$(Rev:.r)

steps:
- task: Npm@1
  displayName: 'Set the version entry table'
  inputs:
    command: custom
    customCommand: version $(Build.Buildnumber) --no-git-tag-version
    workingDir: 'projects/entry-table'

- task: Npm@1
  displayName: 'Set the version entry form'
  inputs:
    command: custom
    customCommand: version $(Build.Buildnumber) --no-git-tag-version
    workingDir: 'projects/entry-form'

- task: Npm@1
  displayName: 'Set the version eslint recommended rules'
  inputs:
    command: custom
    customCommand: version $(Build.Buildnumber) --no-git-tag-version
    workingDir: 'projects/eslint-config'
    
- task: Npm@1
  displayName: 'Set the version stylelint recommended rules'
  inputs:
    command: custom
    customCommand: version $(Build.Buildnumber) --no-git-tag-version
    workingDir: 'projects/stylelint-config'

- task: Npm@1
  displayName: 'Set the version scss foundation'
  inputs:
    command: custom
    customCommand: version $(Build.Buildnumber) --no-git-tag-version
    workingDir: 'projects/scss-foundation'

- task: Npm@1
  displayName: 'npm install'
  inputs:
    command: 'install'

- task: Npm@1
  displayName: 'Lint entry table'
  inputs:
    command: 'custom'
    customCommand: 'run lint @enigmatry/entry-table'

- task: Npm@1
  displayName: 'Lint entry form'
  inputs:
    command: 'custom'
    customCommand: 'run lint @enigmatry/entry-form'

- task: Npm@1
  displayName: 'npm install scss foundation'
  inputs:
    command: 'install'
    workingDir: 'projects/scss-foundation'

- task: Npm@1
  displayName: 'Lint the scss foundation library'
  inputs:
    command: 'custom'
    customCommand: 'run lint'
    workingDir: 'projects/scss-foundation'
    
- task: Npm@1
  displayName: 'Test the scss foundation library'
  inputs:
    command: 'custom'
    customCommand: 'run test'
    workingDir: 'projects/scss-foundation'

- task: Npm@1
  displayName: 'Build entry table'
  inputs:
    command: 'custom'
    customCommand: 'run build @enigmatry/entry-table'

- task: Npm@1
  displayName: 'Build entry form'
  inputs:
    command: 'custom'
    customCommand: 'run build @enigmatry/entry-form'

- task: Npm@1
  displayName: 'Build the scss foundation library'
  inputs:
    command: 'custom'
    customCommand: 'run build'
    workingDir: 'projects/scss-foundation'

- task: Npm@1
  displayName: 'Publish entry table'
  condition: false
  inputs:
    command: publish
    publishRegistry: useExternalRegistry
    publishEndpoint: npm
    workingDir: 'dist/enigmatry/entry-table'

- task: Npm@1
  displayName: 'Publish entry form'
  condition: false
  inputs:
    command: publish
    publishRegistry: useExternalRegistry
    publishEndpoint: npm
    workingDir: 'dist/enigmatry/entry-form'

- task: Npm@1
  displayName: 'Publish the eslint recommended rules'
  inputs:
    command: publish
    publishRegistry: useFeed
    publishFeed: enigmatry
    workingDir: 'projects/eslint-config'

- task: Npm@1
  displayName: 'Publish the stylelint recommended rules'
  inputs:
    command: publish
    publishRegistry: useFeed
    publishFeed: enigmatry
    workingDir: 'projects/stylelint-config'
    
- task: Npm@1
  displayName: 'Publish the scss foundation'
  inputs:
    command: publish
    publishRegistry: useFeed
    publishFeed: enigmatry
    workingDir: 'projects/scss-foundation'
