trigger:
- master

# no PR triggers
pr: none

pool:
  vmImage: ubuntu-latest

variables:
  theLatestVersion: ''

steps:
- checkout: self
  fetchDepth: 50
  fetchTags: true

- task: DotNetCoreCLI@2
  displayName: Add Manifest for tool installation
  inputs:
    command: 'custom'
    custom: 'new '
    arguments: tool-manifest

- task: DotNetCoreCLI@2
  displayName: Install minver
  inputs:
    command: 'custom'
    custom: 'tool '
    arguments: install minver-cli

- task: PowerShell@2
  displayName: 'Set MinVer Version'
  inputs:
    targetType: inline
    script: |
      $version = dotnet minver -p preview
      echo "##vso[task.setvariable variable=theLatestVersion]$version"
      Write-Host "Setting MinVer to '$version'"

- task: Npm@1
  displayName: 'Set the version for entry table'
  inputs:
    command: custom
    customCommand: version $(theLatestVersion) --no-git-tag-version
    workingDir: 'libs/entry-table'

- task: Npm@1
  displayName: 'Set the version for entry form'
  inputs:
    command: custom
    customCommand: version $(theLatestVersion) --no-git-tag-version
    workingDir: 'libs/entry-form'

- task: Npm@1
  displayName: 'Set the version for entry components'
  inputs:
    command: custom
    customCommand: version $(theLatestVersion) --no-git-tag-version
    workingDir: 'libs/entry-components'

- task: Npm@1
  displayName: 'Set the version eslint recommended rules'
  inputs:
    command: custom
    customCommand: version $(theLatestVersion) --no-git-tag-version
    workingDir: 'libs/eslint-config'
    
- task: Npm@1
  displayName: 'Set the version stylelint recommended rules'
  inputs:
    command: custom
    customCommand: version $(theLatestVersion) --no-git-tag-version
    workingDir: 'libs/stylelint-config'

- task: Npm@1
  displayName: 'Set the version scss foundation'
  inputs:
    command: custom
    customCommand: version $(theLatestVersion) --no-git-tag-version
    workingDir: 'libs/scss-foundation'

- task: Npm@1
  displayName: 'Set the version scss entry'
  inputs:
    command: custom
    customCommand: version $(theLatestVersion) --no-git-tag-version
    workingDir: 'libs/scss-entry'

- task: Npm@1
  displayName: 'npm install'
  inputs:
    command: 'install'

- task: Npm@1
  displayName: 'Lint entry table'
  inputs:
    command: 'custom'
    customCommand: 'run lint @enigmatry/entry-table'

- task: Npm@1
  displayName: 'Lint entry form'
  inputs:
    command: 'custom'
    customCommand: 'run lint @enigmatry/entry-form'

- task: Npm@1
  displayName: 'Lint entry components'
  inputs:
    command: 'custom'
    customCommand: 'run lint @enigmatry/entry-components'

- task: Npm@1
  displayName: 'npm install scss foundation'
  inputs:
    command: 'install'
    workingDir: 'libs/scss-foundation'

- task: Npm@1
  displayName: 'npm install scss entry'
  inputs:
    command: 'install'
    workingDir: 'libs/scss-entry'

- task: Npm@1
  displayName: 'Lint the scss foundation library'
  inputs:
    command: 'custom'
    customCommand: 'run lint'
    workingDir: 'libs/scss-foundation'

- task: Npm@1
  displayName: 'Lint the scss entry library'
  inputs:
    command: 'custom'
    customCommand: 'run lint'
    workingDir: 'libs/scss-entry'
    
- task: Npm@1
  displayName: 'Test the scss foundation library'
  inputs:
    command: 'custom'
    customCommand: 'run test'
    workingDir: 'libs/scss-foundation'

- task: Npm@1
  displayName: 'Build entry table'
  inputs:
    command: 'custom'
    customCommand: 'run build @enigmatry/entry-table'

- task: Npm@1
  displayName: 'Build entry form'
  inputs:
    command: 'custom'
    customCommand: 'run build @enigmatry/entry-form'

- task: Npm@1
  displayName: 'Build entry components'
  inputs:
    command: 'custom'
    customCommand: 'run build @enigmatry/entry-components'

- task: Npm@1
  displayName: 'Build the scss foundation library'
  inputs:
    command: 'custom'
    customCommand: 'run build'
    workingDir: 'libs/scss-foundation'

- task: Npm@1
  displayName: 'Build the scss entry library'
  inputs:
    command: 'custom'
    customCommand: 'run build'
    workingDir: 'libs/scss-entry'

- task: Npm@1
  displayName: 'Publish entry table'
  inputs:
    command: publish
    publishRegistry: useExternalRegistry
    publishEndpoint: npm
    workingDir: 'dist/enigmatry/entry-table'

- task: Npm@1
  displayName: 'Publish entry form'
  inputs:
    command: publish
    publishRegistry: useExternalRegistry
    publishEndpoint: npm
    workingDir: 'dist/enigmatry/entry-form'

- task: Npm@1
  displayName: 'Publish entry components'
  inputs:
    command: publish
    publishRegistry: useExternalRegistry
    publishEndpoint: npm
    workingDir: 'dist/enigmatry/entry-components'

- task: Npm@1
  displayName: 'Publish the eslint recommended rules'
  inputs:
    command: publish
    publishRegistry: useExternalRegistry
    publishEndpoint: npm
    workingDir: 'libs/eslint-config'

- task: Npm@1
  displayName: 'Publish the stylelint recommended rules'
  inputs:
    command: publish
    publishRegistry: useExternalRegistry
    publishEndpoint: npm
    workingDir: 'libs/stylelint-config'
    
- task: Npm@1
  displayName: 'Publish the scss foundation'
  inputs:
    command: publish
    publishRegistry: useExternalRegistry
    publishEndpoint: npm
    workingDir: 'libs/scss-foundation'

- task: Npm@1
  displayName: 'Publish the scss entry'
  inputs:
    command: publish
    publishRegistry: useExternalRegistry
    publishEndpoint: npm
    workingDir: 'libs/scss-entry'
