@use '../../../../configuration' as config;
@use '@enigmatry/scss-foundation/src/modules/lists/row-coloring' as list;

@mixin generate-rows-from($theme) {

    .mat-row {
        @include list.row-coloring(config.value-from($theme, 'table.row.odd-even-background'), config.value-from($theme, 'table.row.odd-even-row'));

        &.selected {
            background-color: config.value-from($theme, 'table.row.selected-background-color');
    
            .mat-cell, a {
                color: config.value-from($theme, 'table.row.selected-color');
            }
    
            .mat-checkbox-checked .mat-checkbox-background {
                background-color: config.value-from($theme, 'checkbox.background-color');
    
                .mat-checkbox-checkmark-path {
                    stroke: config.value-from($theme, 'checkbox.checkmark-color-selected')!important;
                }
            }
        }
    }

    .mat-row-disabled {
        background-color: config.value-from($theme, 'table.row.disabled');
    }
}