<entry-search-filter [searchFilters]="filters" (searchFilterChange)="searchFilterChange($event)" />

<table mat-table class="mat-elevation-z8" [dataSource]="users()">

    <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name </th>
        <td *matCellDef="let user" mat-cell> {{user.firstName}} {{user.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell> Email </th>
        <td *matCellDef="let user" mat-cell> {{user.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
        <th *matHeaderCellDef mat-header-cell> Date of Birth </th>
        <td *matCellDef="let user" mat-cell> {{user.dateOfBirth | date:'dd-MM-yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="occupation">
        <th *matHeaderCellDef mat-header-cell> Occupation </th>
        <td *matCellDef="let user" mat-cell> {{user.occupation | enumToString}} </td>
    </ng-container>

    <ng-container matColumnDef="country">
        <th *matHeaderCellDef mat-header-cell> Country </th>
        <td *matCellDef="let user" mat-cell> {{ user.country }}</td>
    </ng-container>

    <ng-container matColumnDef="score">
        <th *matHeaderCellDef mat-header-cell> Score </th>
        <td *matCellDef="let user" mat-cell> {{ user.score }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>