@use 'entry-components/styles/generator' as entry;
@use '../modules/theming/theming' as application;

@include entry.generate-from(application.$theme);

:root {
    font-family: var(--mdc-typography-headline6-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
}

.spacer {
    flex: 1 1 auto;
}

.mat-drawer-content {
    background-color: #fff;
}

