<app-documentation-content [componentDefinition]="componentDefinition">
    <app-example-viewer
        title="Formly Form validation example"
        path="validation\formly-form-validation\formly-form-validation-example.component"
        [extraFileDefinitions]="extraFiles"
        noScss="true">
        <app-formly-form-validation-example></app-formly-form-validation-example>
    </app-example-viewer>
    <app-example-viewer
        title="Reactive Form validation example"
        path="validation\reactive-form-validation\reactive-form-validation-example.component"
        noScss="true">
        <app-reactive-form-validation-example></app-reactive-form-validation-example>
    </app-example-viewer>
</app-documentation-content>
