<entry-dialog title="Custom Dialog" [hideClose]="false" [buttonsTemplate]="customButtonsTemplate">
    <div class="stack-vertical">
        <p>{{data.question}}</p>
        <img class="custom-dialog-logo" src="./../../../../assets/images/entry_logo_small_transparent_material.png">
        <mat-form-field>
            <mat-label>Write your comment</mat-label>
            <input matInput type="text" [(ngModel)]="comment">
        </mat-form-field>
    </div>
</entry-dialog>

<ng-template #customButtonsTemplate>
    <mat-dialog-actions class="dialog-actions" align="center">
        <button cdkFocusInitial mat-button color="primary" (click)="onClick('Yes it is')">
            Yes it is
        </button>
        <button mat-button (click)="onClick('So-so')">
            So-so
        </button>
        <button mat-button (click)="onClick('Nope')">
            Nope
        </button>
    </mat-dialog-actions>
</ng-template>