@use '@enigmatry/scss-foundation/src/modules/map';

@mixin generate-checkboxs-from($theme) {
    .mat-checkbox {
        .mat-checkbox-inner-container {
            width: map.value-from($theme, 'checkbox.width');
            height: map.value-from($theme, 'checkbox.height');
            background-color: map.value-from($theme, 'checkbox.background-color');
        }

        .mat-checkbox-label {
            white-space: map.value-from($theme, 'checkbox.label-breaking');
        }

        .mat-checkbox-frame {
            border: map.value-from($theme, 'checkbox.border');
            border-radius: map.value-from($theme, 'checkbox.border-radius');
        }

        .mat-checkbox-checkmark-path {
            stroke: map.value-from($theme, 'checkbox.checkmark-color')!important;
        }

        &:hover {
            .mat-checkbox-frame {
                border: map.value-from($theme, 'checkbox.border-hover');
            }
        }

        &.mat-checkbox-checked {
            .mat-checkbox-background {
                background-color: map.value-from($theme, 'checkbox.selected-background-color');
    
                .mat-checkbox-checkmark-path {
                    stroke: map.value-from($theme, 'checkbox.selected-checkmark-color')!important;
                }
            }
    
            .mat-checkbox-frame {
                border-color: map.value-from($theme, 'checkbox.selected-border-color');
            }
        }
    }
}