<form [formGroup]="form" (ngSubmit)="submitForm()" class="formly-form entry-form">
    <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>

    <!-- Displays form level validation errors -->
    <entry-form-errors [form]="form"></entry-form-errors>
    
    <div class="action-buttons">
        <button mat-button entry-submit-button color="accent" type="submit">Submit</button>
        <button mat-button entry-cancel-button type="reset" (click)="form.reset(); validationResult = undefined;">Reset</button>
    </div>
</form>
<br/>
<p>
    Validation error response (<em>IValidationProblemDetails</em>): 
</p>
<pre><code>{{validationResult | json}}</code></pre>