<form class="formly-form entry-form" [formGroup]="form" (ngSubmit)="submitForm()">
    <formly-form [fields]="fields" [form]="form" [model]="model" />

    <!-- Displays form level validation errors -->
    <entry-form-errors [form]="form" />
    
    <div class="action-buttons">
        <button mat-button entry-submit-button type="submit">Submit</button>
        <button mat-button entry-cancel-button type="reset" (click)="reset()">Reset</button>
    </div>
</form>
<br/>
<p>
    Validation error response (<em>IValidationProblemDetails</em>): 
</p>
<pre><code>{{validationResult() | json}}</code></pre>