@use '../../../styles/modules/variables' as vars;

.landing {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;

    .component-card {
        margin: 10px;
        padding: 0px;
        height: 200px;
        position: relative;

        .card-header {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: vars.$header-back;
        }

        .card-content {
            margin: 10px 15px 10px 15px;
        }

        .card-actions {
            position: absolute;
            bottom: 0;
            align-self: end;
            margin-right: 15px;
        }
    }
}