@use '../../../styles/modules/variables' as vars;

.landing {
	display: grid;
	grid: {
		gap: 10px;
		/* stylelint-disable-next-line unit-allowed-list */
		template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
	margin: 20px;

	.component-card {
		position: relative;
		height: 200px;
		margin: 10px;
		padding: 0;

		.card-header {
			padding: {
				top: 10px;
				bottom: 10px;
			}
			background-color: vars.$header-back;
		}

		.card-content {
			margin: 10px 15px;
			font: {
				size: 14px;
				style: italic;
			}
		}

		.card-actions {
			position: absolute;
			bottom: 0;
			align-self: end;
			margin-right: 15px;
		}
	}
}