@use '../../../../configuration' as config;

@mixin generate-sorting-from($theme) {
    .mat-sort-header-sorted {
        font: {
            size: config.value-from($theme, 'table.column.sorted.font-size');
            weight: config.value-from($theme, 'table.column.sorted.font-weight');
        }
        color: config.value-from($theme, 'table.column.sorted.color');
    }

    .mat-sort-header-arrow {
        color: config.value-from($theme, 'table.column.sorted.color');
    }

    .mat-sort-header-content {
        text-align: config.value-from($theme, 'table.column.sorted.content-align');
    }
}