<app-documentation-content>
    <app-example-viewer title="Basic date time picker" component="date-time-picker\basic\basic.component"
        [extraFiles]="['date-time-picker/date-time-picker-example.module.ts']">
        <app-basic-date-time-picker></app-basic-date-time-picker>
    </app-example-viewer>
    <app-example-viewer title="Date time picker with disabling" component="date-time-picker\disable\disable.component"
        [extraFiles]="['date-time-picker/date-time-picker-example.module.ts']">
        <app-disable></app-disable>
    </app-example-viewer>
    <app-example-viewer title="Date time picker with min/max validation"
        component="date-time-picker\min-max\min-max.component"
        [extraFiles]="['date-time-picker/date-time-picker-example.module.ts']">
        <app-min-max></app-min-max>
    </app-example-viewer>
</app-documentation-content>