<app-documentation-content>
    <app-example-viewer title="Basic date time picker" component="date-time-picker\basic\basic.component"
        [extraFiles]="['date-time-picker/date-time-picker-example.module.ts']">
        <app-basic-date-time-picker></app-basic-date-time-picker>
    </app-example-viewer>
    <app-example-viewer title="Date time picker with seconds" component="date-time-picker\seconds\seconds.component"
        [extraFiles]="['date-time-picker/date-time-picker-example.module.ts']">
        <app-date-picker-seconds></app-date-picker-seconds>
    </app-example-viewer>
    <app-example-viewer title="Date time picker with min/max validation"
        component="date-time-picker\min-max\min-max.component"
        [extraFiles]="['date-time-picker/date-time-picker-example.module.ts']">
        <app-date-picker-min-max></app-date-picker-min-max>
    </app-example-viewer>
    <app-example-viewer title="Date time picker with meridiem" component="date-time-picker\meridiem\meridiem.component"
        [extraFiles]="['date-time-picker/date-time-picker-example.module.ts']">
        <app-date-picker-meridiem></app-date-picker-meridiem>
    </app-example-viewer>
    <app-example-viewer title="Date time picker with default time"
        component="date-time-picker\default-time\default-time.component"
        [extraFiles]="['date-time-picker/date-time-picker-example.module.ts']">
        <app-default-time></app-default-time>
    </app-example-viewer>
    <app-example-viewer title="Date time picker with disabling" component="date-time-picker\disable\disable.component"
        [extraFiles]="['date-time-picker/date-time-picker-example.module.ts']">
        <app-date-picker-disable></app-date-picker-disable>
    </app-example-viewer>
    <app-example-viewer title="Date time picker with form control validation" component="date-time-picker\with-validation\with-validation.component"
        [extraFiles]="['date-time-picker/date-time-picker-example.module.ts']">
        <app-date-time-picker-with-validation></app-date-time-picker-with-validation>
    </app-example-viewer>
</app-documentation-content>