.validation-field-group {
	width: 50%;
	margin-bottom: 30px;

	.validation-group-legend {
		margin-bottom: 20px;
	}
}

.validation-children-names {
	width: 50%;

	.description {
		display: block;
		margin-bottom: 5px;
	}
}