<app-documentation-content>
  <app-example-viewer
    title="Reactive form example"
    component="dynamic-form\reactive\reactive-form-example.component">
    <app-reactive-form-example></app-reactive-form-example>
  </app-example-viewer>
  <app-example-viewer
    title="Template driven form example"
    component="dynamic-form\template-driven\template-driven-form-example.component">
    <app-template-driven-form-example></app-template-driven-form-example>
  </app-example-viewer>
  <app-example-viewer
      title="Field examples"
      component="dynamic-form\basic\basic-dynamic-form.component">
      <app-basic-dynamic-form></app-basic-dynamic-form>
  </app-example-viewer>
</app-documentation-content>