<app-documentation-content>
  <app-example-viewer
      title="Input"
      component="form\input\input-example.component"
      [showDocs]="true"
      [showHtml]="false"
      [showTs]="false">
      <app-input-example></app-input-example>
  </app-example-viewer>
  <app-example-viewer
      title="Select"
      component="form\select\select-example.component"
      [showDocs]="true"
      [showHtml]="false"
      [showTs]="false">
      <app-select-example></app-select-example>
  </app-example-viewer>
  <app-example-viewer
      title="Textarea"
      component="form\textarea\textarea-example.component"
      [showDocs]="true"
      [showHtml]="false"
      [showTs]="false">
      <app-textarea-example></app-textarea-example>
  </app-example-viewer>
  <app-example-viewer
      title="Checkbox"
      component="form\checkbox\checkbox-example.component"
      [showDocs]="true"
      [showHtml]="false"
      [showTs]="false">
      <app-checkbox-example></app-checkbox-example>
  </app-example-viewer>
  <app-example-viewer
      title="Radio"
      component="form\radio\radio-example.component"
      [showDocs]="true"
      [showHtml]="false"
      [showTs]="false">
      <app-radio-example></app-radio-example>
  </app-example-viewer>
  <app-example-viewer
      title="Datepicker"
      component="form\datepicker\datepicker-example.component"
      [showDocs]="true"
      [showHtml]="false"
      [showTs]="false">
      <app-datepicker-example></app-datepicker-example>
  </app-example-viewer>
  <app-example-viewer
      title="Form example with configuration"
      component="form\form-example\form-example.component">
      <app-form-example></app-form-example>
  </app-example-viewer>
</app-documentation-content>
