@use 'variables' as vars;

// TODO: remove this once implemented https://jira.enigmatry.com/browse/ETL-484
@mixin default($default: vars.$accent, $hover: vars.$body-font-color) {
	transition: vars.$default-transition;
	color: $default;

	&:active {
		color: $hover;
	}

	// Had to be done this way since at least Chrome isn't triggering ontouchend on mobile so hover state remains. 
	/* stylelint-disable-next-line at-rule-allowed-list, media-feature-name-allowed-list */
	@media (hover: hover) {
		&:hover {
			color: $hover;
		}
	}
}