.docs-main {

    .docs-container {
        position: absolute;
        top: 60px;
        bottom: 60px;
        left: 0;
        right: 0;
    }
    
    .docs-sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;

        .docs-menu-items {
            padding-top: 0;

            .docs-menu-item {
                cursor: pointer;
            }
        }
    }
    
    .docs-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}