<app-documentation-content>
  <app-example-viewer
      title="Basic example with configuration"
      path="file-input\file-input-basic-example\file-input-basic-example.component"
      [noScss]="true"
      [extraFileDefinitions]="extraFiles">
      <app-file-input-example></app-file-input-example>
  </app-example-viewer>
  <app-example-viewer
      title="Integration with template driven or reactive form"
      path="file-input\file-input-form-example\file-input-form-example.component"
      [noScss]="true"
      [extraFileDefinitions]="extraFiles">
      <app-file-input-form-example></app-file-input-form-example>
  </app-example-viewer>
  <app-example-viewer
      title="Validation example"
      path="file-input\file-input-validation-example\file-input-validation-example.component"
      [noScss]="true"
      [extraFileDefinitions]="extraFiles">
      <app-file-input-validation-example></app-file-input-validation-example>
  </app-example-viewer>
</app-documentation-content>
