<mat-card appearance="outlined" class="example-card">
    <mat-toolbar-row>
        <span>{{title}}</span>
        <button mat-button (click)="toggleCodeView()" color="primary">
            {{viewCode ? 'Hide' : 'View'}} Code
        </button>
    </mat-toolbar-row>
    <mat-tab-group  animationDuration="0ms" *ngIf="viewCode" mat-stretch-tabs="false">
        <mat-tab label="HTML">
            <app-code-view [codeContent]="htmlFile" codeType="html"></app-code-view>
        </mat-tab>
        <mat-tab label="TS">
            <app-code-view [codeContent]="typescriptFile" codeType="ts"></app-code-view>
        </mat-tab>
        <mat-tab label="SCSS" *ngIf="!noScss && stylesFile">
            <app-code-view [codeContent]="stylesFile" codeType="scss"></app-code-view>
        </mat-tab>
        <mat-tab *ngFor="let file of extraFiles" [label]="file.definition.name">
            <app-code-view [codeContent]="file.content" [codeType]="file.definition.type"></app-code-view>
        </mat-tab>
    </mat-tab-group>
    <mat-divider></mat-divider>
    <mat-card-content class="example-content">
        <ng-content></ng-content>
    </mat-card-content>
</mat-card>