<mat-card appearance="outlined" class="example-card">
    <mat-toolbar-row>
        <span>{{title()}}</span>
        <button mat-button color="primary" type="button" (click)="toggleCodeView()">
            {{viewCode() ? 'Hide' : 'View'}} Code
        </button>
    </mat-toolbar-row>
    @if (viewCode()) {
        <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false">
            @if (showHtml()) {
                <mat-tab label="HTML">
                    <app-code-view codeType="html" [codeContent]="htmlFile() ?? ''" />
                </mat-tab>
            }
            @if (showTs()) {
                <mat-tab label="TS">
                    <app-code-view codeType="ts" [codeContent]="typescriptFile() ?? ''" />
                </mat-tab>
            }
            @if (showScss()) {
                <mat-tab label="SCSS">
                    <app-code-view codeType="scss" [codeContent]="stylesFile() ?? ''" />
                </mat-tab>
            }
            @if (showDocs()) {
                <mat-tab label="DOCS">
                    <app-markdown-viewer [markdownContent]="docsFile() ?? ''" />
                </mat-tab>
            }
            @for (file of extraFilesToDisplay(); track file.name) {
                <mat-tab [label]="file.name">
                    <app-code-view [codeContent]="file.content" [codeType]="file.type" />
                </mat-tab>
            }
        </mat-tab-group>
    }
    <mat-divider />
    <mat-card-content class="example-content">
        <ng-content />
    </mat-card-content>
</mat-card>