<div class="dialog-form">
    <div class="dialog-header">
        <h1 class="title">{{ title }}</h1>

        <button *ngIf="!hideClose" type="button" class="close-button" (click)="cancel()">
            <span class="icon-close icon"></span>
        </button>
    </div>

    <mat-dialog-content class="dialog-content" [ngClass]="{'with-actions': !hideButtons}">
        <ng-content></ng-content>
    </mat-dialog-content>

    <ng-template [ngIf]="buttonsTemplate" [ngIfElse]="defaultButtonsTemplate">
        <ng-template [ngTemplateOutlet]="buttonsTemplate"></ng-template>
    </ng-template>

    <ng-template #defaultButtonsTemplate>
        <div *ngIf="!hideButtons" class="dialog-footer {{ buttonsAlignment }}">
            <button
                cdkFocusInitial
                type="button"
                class="button-confirm"
                cdkFocusInitial
                (click)="onSubmit()">{{confirmButtonText}}</button>
            <button
                *ngIf="!hideCancel"
                type="button"
                class="button-cancel"
                (click)="cancel()">{{cancelButtonText}}</button>
        </div>
    </ng-template>
</div>