@use 'sass:list';

$theme: (
    cell: (
        font-size: 14px,
        color: #333,
        first-cell-padding-left: 4px,
        last-cell-padding-right: 4px
    ),
    row: (
        selected-background-color: #06C,
        selected-color: #FFF,
        odd-even-row: even,
        odd-even-background: #F0F0F0,
        disabled: #F5F5F5
    ),
    column: (
        sorted: (
            font-size: 14px,
            font-weight: 700,
            color: #2C2C2C,
            content-align: center
        )
    ),
    content: (
        no-result: (
            font-size: 13px,
            font-weight: 500,
            text-transform: none
        )
    ),
    checkbox: (
        background-color-selected: #fff,
        checkmark-color-selected: #000
    )
);