@use '../styles/modules/variables' as vars;

.docs-main {
	.docs-container {
		position: absolute;
		inset: 60px 0;
	}
    
	.docs-sidenav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
	}

	.docs-menu-items {
		padding-top: 0;

		.docs-menu-item {
			cursor: pointer;
		}

		.active {
			background-color: vars.$menu-item-selected;
		}
	}
    
	.docs-header {
		display: flex;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		justify-content: space-between;
		padding: 0;
		background-color: vars.$header-back;

		.logo {
			width: 200px;
		}

		.header-element {
			margin-right: 20px;
		}
	}

	.doc-navigation {
		display: flex;
		align-items: center;
	}
}

.main-content {
	background-color: #FFF;
}

.github-description {
	padding-left: 22px;
}

.github-icon {
	position: absolute;
	top: 50%;
	margin-left: 5px;
	transform: translate(-50%, -50%);
}
