<div class="docs-main">
  <mat-toolbar class="docs-header">
    <div class="doc-navigation">
      <img class="logo header-element" src="../assets/images/entry_logo_small_transparent_material.png">
      <button mat-flat-button color="primary" class="header-element" [routerLink]="''">
        Components
      </button>
      <span *ngIf="selectedMenuItem" class="header-element"> {{selectedMenuItem.label}}</span>
    </div>

    <a mat-flat-button color="primary" target="_blank" class="header-element"
      href="https://github.com/enigmatry/entry-angular-building-blocks">
      <img class="github-icon" src="../assets/images/github-circle-white-transparent.svg" />
      <span class="github-description">GitHub</span>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="docs-container">
    <mat-sidenav mode="side" opened class="docs-sidenav">
      <mat-nav-list class="docs-menu-items">
        <a *ngFor="let item of (menuItems | sort)" mat-list-item [routerLink]="item.route" routerLinkActive="active"
          class="docs-menu-item">
          {{item.label}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>