<app-documentation-content>
    <app-example-viewer
        title="Alert dialog example"
        path="dialog\alert\alert-example.component">
        <app-alert-example></app-alert-example>
    </app-example-viewer>
    <app-example-viewer
        title="Confirm dialog example"
        path="dialog\confirm\confirm-example.component">
        <app-confirm-example></app-confirm-example>
    </app-example-viewer>
    <app-example-viewer
        title="Custom dialog example"
        path="dialog\custom\custom-dialog-example.component"
        [extraFiles]="[
            'dialog/custom/custom-dialog.component.ts',
            'dialog/custom/custom-dialog.component.html']">
        <app-custom-dialog-example></app-custom-dialog-example>
    </app-example-viewer>
</app-documentation-content>