@use '../../../styles/modules/variables' as var;

ul {
    list-style: none;

    a {
        text-decoration: none;
    }
}

.example-nav-menu-link {
    color: var.$primary;
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.example-nav-menu-link:hover {
    background-color: var.$accent;
}

// @media screen and (max-width: 1118px) {
.show-toolbar-content {
    .example-nav-menu {
        background-color: var.$primary-lightest;
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        padding-block: 1.5rem 4rem;
        pointer-events: none;
        opacity: 0;
        transition: top 0.4s, opacity 0.3s;
    }

    .example-nav-menu::-webkit-scrollbar {
        width: 0.5rem;
    }

    .example-nav-menu::-webkit-scrollbar-thumb {
        background-color: var.$primary-lightest;
    }
}

@media screen and (min-width: 1118px) {
    .example-nav-list {
      display: flex;
      column-gap: 3rem;
      height: 100%;
    }
    .example-nav-list li {
      display: flex;
    }
    .example-nav-menu-link {
      padding: 0;
    }
    .example-nav-menu-link:hover {
      background-color: initial;
    }
}