@use '../../../styles/modules/variables' as var;

ul {
	list-style: none;

	a {
		text-decoration: none;
	}
}

.example-nav-menu-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.25rem 1.5rem;
	transition: background-color .3s;
	color: var.$primary;
	font-weight: 600;

	&:hover {
		color: var.$accent;
	}
}

.show-toolbar-content {
	.example-nav-menu {
		position: absolute;
		top: 2.5rem;
		left: 0;
		width: 100%;
		height: calc(100vh - 3.5rem);
		padding-block: 1.5rem 4rem;
		overflow: auto;
		transition: top .4s, opacity .3s;
		opacity: 0;
		background-color: var.$primary-lightest;
		pointer-events: none;

		&::-webkit-scrollbar {
			width: .5rem;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var.$primary-lightest;
		}
	}
}

// It would be nice if we loose @media here and only depend on plain css
@media screen and (width >= 1118px) {
	.example-nav-list {
		display: flex;
		height: 100%;
		column-gap: 3rem;

		& li {
			display: flex;
		}
	}

	.example-nav-menu-link {
		padding: 0;

		&:hover {
			background-color: initial;
		}
	}
}