<p>
    Resize browser window to trigger toolbar "compact view".
</p>
<br/>
<p>
    <mat-checkbox [(ngModel)]="hideTitle">
        Hide logo/title
    </mat-checkbox>
</p>
<p>
    <mat-checkbox [(ngModel)]="showLogo">
        Show logo instead of title
    </mat-checkbox>
</p>
<entry-toolbar
    title="Example Application"
    titleUri="http:\\www.google.com"
    [titleLogoSrc]="showLogo ? './../../../../assets/images/entry_logo_small_transparent_material.png' : undefined"
    [hideTitle]="hideTitle">
   
    <div class="example-nav-menu">
        <ul class="example-nav-list">
            <li *ngFor="let item of menuItems">
                <a class="example-nav-menu-link" href="http:\\google.com" target="_blank">{{item}}</a>
            </li>
        </ul>
    </div>
</entry-toolbar>
<div style="height: 400px;"></div>