@use '@enigmatry/scss-foundation/src/modules/map';

@mixin generate-form-fields-from($theme) {
    .mat-form-field-label {
        color: map.value-from($theme, 'field.label-color');
    }

    .mat-form-field-infix {
        padding: {
            top: map.value-from($theme, 'field.infix-padding-top');
            bottom: map.value-from($theme, 'field.infix-padding-bottom');
        }
    }

    .mat-form-field-underline {
		display: map.value-from($theme, 'field.underline-display');
	}
}