<entry-header [title]="'Users'">
    <div buttons class="action-buttons item">
        <button class="entry-button-accent button first-button clickable" (click)="addNew()">Add new</button>
        <button class="entry-button-primary button clickable" (click)="otherAction()">Other action</button>
    </div>
    <div content>
        <h3>
            Let's learn about content projection!
        </h3>
        <p>
            Place here the content you want displayed in the content placeholder, e.g. entry-search-filter component on
            user list or user details on usetr details page.
        </p>
    </div>
</entry-header>
