<entry-header [title]="'Users'">
    <div buttons class="action-buttons header-item">
        <button class="button-accent item" (click)="addNew()">Add new</button>
        <button class="button-primary item" (click)="otherAction()">Other action</button>
    </div>
    <div content>
        <h3>
            Let's learn about content projection!
        </h3>
        <p>
            Place here the content you want displayed in the content placeholder, e.g. entry-search-filter component on
            user list or user details on usetr details page.
        </p>
    </div>
</entry-header>
