.example-card {
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 80%), 0 1px 3px 1px rgba(60, 64, 67, 16%);
    overflow: hidden;

    .mat-toolbar-row {
        height: 56px;

        button {
            margin-left: auto; 
            margin-right: 0;
        }
    }
}

:host {
    display: block;
    margin-bottom: 2em;
}

mat-card-content {
    padding: 16px;
}